{% extends "layout.html.twig" %}

{% block title %}List{% endblock %}
{% block content %}
    <div class="col-md-8">
        <a href="{{ path('homepage') }}">Home</a>
        {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <p>publié par <a href="{{ path('author', {id:article.author.id}) }}">{{ article.author.username }}</a></p>
            <p> le {{ article.date_publi }}</p>
        </article>
        {% endfor %}
    </div>
{% endblock %}